@{
    Layout = "~/_Layout.cshtml";
}
@section banner{
    <h1>Home of Cpsc 1517 Razor</h1>
}

<a href=" = "~/HelloWorld.cshtml">HEllo World</a></br>
<a href=" = "~/HElloWorld.cshtml">HEllo World</a></br>

